@CHARSET "ISO-8859-1";

dl#c {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#spangrey,#spanbasic,#mb,.spanbasic {
	margin-left: 0px;
	width: 100%;
	padding-right: 0px;
	padding-left: 20px;
	text-indent: -12px;
	white-space: normal;
}

#spanbasicbenl,.spanbasicbenl {
	margin-left: 0px;
	width: 100%;
	padding-right: 0px;
	padding-left: 20px;
	text-indent: -12px;
	white-space: normal;
	font-size: 12px;
}

html>body #spangrey,#spanbasic,#mb,.spanbasic {
	margin-left: 0px;
	padding-left: 20px;
	text-indent: -12px;
	width: 140px;
}

#mb {
	font-weight: bold;
}

#spangrey {
	background-color: #eeeeee;
}

div#spangrey {
	height: 14px;
}

.nbg {
	background-color: #d6dcfe;
}

.mt12 {
	margin-top: 12px;
}

.mev {
	background-color: #d6dcfe;
	border-top: 2px solid #cecece;
	height: 19px;
	margin-right: 20px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-weight: bold;
}

.pt2 {
	margin-top: 4px;
	width: 160px;
	margin-bottom: 4px;
	margin-left: 0;
	height: 20px;
}

.nlb {
	border-left: 2px solid #cecece;
	border-top: 2px solid #cecece;
	background-color: #d6dcfe;
}

.roundtop {
	background:
		url(http://pics.ebaystatic.com/aw/pics/myebay/blueCurve_22x20.gif)
		no-repeat top right;
	background-color: #d6dcfe;
}

.nb {
	border: 2px solid #cecece;
	padding-top: 10px;
	padding-bottom: 12px;
}

.sep {
	border-bottom: 2px dotted #cecece;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 4px;
	margin-left: 4px;
}

.mb {
	font-weight: bold;
}

.fex {
	margin-top: 6px;
	margin-bottom: 8px;
}

.nobull {
	text-indent: 8px;
	white-space: nowrap;
}

.ppicks {
	text-indent: 8px;
	white-space: nowrap;
	padding-left: 8px;
}

.nobullet {
	white-space: nowrap;
}

.greylabel {
	text-indent: 8px;
	background-color: #eeeeee;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
	white-space: normal;
}

html>body .greylabel {
	padding-bottom: 2px;
}

.notgreylabel,.fexupload {
	text-indent: 8px;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
	white-space: normal;
}

html>body .notgreylabel,.fexupload {
	padding-bottom: 2px;
}

.fexupload {
	margin-top: 6px;
	margin-bottom: 6px;
}

.greylabellight {
	background-color: #eeeeee;
	vertical-align: middle;
	width: 100%;
	text-indent: 8px;
}

.notgreylabellight {
	text-indent: 8px;
	vertical-align: middle;
	width: 100%;
	margin-right: 2px;
}

.messagecenterlabels {
	text-indent: 8px;
	vertical-align: middle;
	width: 100%;
}

#msgreylabel {
	text-indent: 8px;
	font-weight: bold;
}

html>body #msgreylabel {
	margin-left: 8px;
	font-weight: bold;
}

#msgreylabelbg {
	text-indent: 8px;
	background-color: #eeeeee;
}

html>body #msgreylabelbg {
	text-indent: 0px;
}

.es,.esgrey {
	margin-left: 8px;
}

html>body .es {
	margin-left: 24px;
	text-indent: 2em;
}

.escrow_id {
	text-indent: 2em;
}

.padleft {
	padding-left: 6px;
}

.s {
	height: 6px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.pad {
	padding-left: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#greylabel {
	background-color: #eeeeee;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
}

.mini {
	margin-left: 4px;
	margin-top: 2px;
	height: 100%;
	width: 100%;
}

.minidiv {
	width: 160px;
}

.V1N2 {
	font-weight: normal;
	font-size: xx-small;
	font-family: Verdana, sans-serif;
}

#spacebottom {
	margin-bottom: 12px;
}

.itemcount {
	width: 170px;
	word-spacing: normal;
}

#Shell {
	position: relative;
	width: 100%;
}

#globalHeader {
	position: relative;
	width: 100%;
}

#myEbayBody {
	position: relative;
	width: 100%;
}

#bodyContent {
	position: absolute;
}

#bodyContentEPS {
	position: absolute;
	width: 80%;
}

#bodyContentPref {
	position: absolute;
	width: 100%;
}

html>body #bodyContent {
	position: absolute;
}

#bodyContent_nowidth {
	position: absolute;
}

html>body #bodyContent_nowidth {
	position: absolute;
}

#MyEbayHeader {
	position: relative;
}

#bc {
	position: relative;
}

#LeftNav,#StoresLeftNav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 180px;
}

#Right {
	position: relative;
	margin-right: 25px;
	float: right;
	width: 25px;
}

#ContainerWrapper,#ContainerWrapperPrint,#ContainerWrapperSMPage,#ContainerWrapperSMPref
	{
	margin-left: 172px;
	margin-right: 0px;
}

#bc {
	margin-bottom: 6px;
}

#Container {
	width: 100%;
}

html>body bodyContent {
	width: 100%;
}

#bContent {
	margin-top: 6px;
}

.cb {
	clear: both;
}

#dialogBoxControl,#avDialogBoxControl,#dialogBoxControlMotors {
	position: relative;
}

#ContainerWrapper_230,#ContainerWrapperPrint_230,#ContainerWrapperSMPage_230,#ContainerWrapperSMPref_230
	{
	margin-left: 195px;
}

#ContainerWrapper_190,#ContainerWrapperPrint_190,#ContainerWrapperSMPage_190,#ContainerWrapperSMPref_190
	{
	margin-left: 180px;
}

#ContainerWrapper_200,#ContainerWrapperPrint_200,#ContainerWrapperSMPage_200,#ContainerWrapperSMPref_200
	{
	margin-left: 180px;
}

#ContainerWrapper_250,#ContainerWrapperPrint_250,#ContainerWrapperSMPage_250,#ContainerWrapperSMPref_250
	{
	margin-left: 180px;
}

#ContainerWrapper_fex,#ContainerWrapperPrint_fex,#ContainerWrapperSMPage_fex,#ContainerWrapperSMPref_fex
	{
	margin-left: 180px;
}

#ContainerWrapper_stores,#ContainerWrapperPrint_stores,#ContainerWrapperSMPage_stores,#ContainerWrapperSMPref_stores
	{
	margin-left: 192px;
}

form #leftNav {
	position: relative;
	width: 100%;
}

#noDHTML {
	display: none;
}

#lyrGrayout_sec {
	background-image:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgOverlay1x1.png);
	_background-image: url(http://pics.ebaystatic.com/aw/pics/tbx/s.gif);
	left: 0px;
	top: 0px;
	position: absolute;
	visibility: hidden;
	z-index: 1;
}

#lyrDialog_sec {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

#lyrProgressIndicator_sec p {
	position: relative;
	text-align: center;
	top: 50%;
}

@media print {
	html>body #bodyContent,html>body #bodyContent_nowidth,html>body .content,html>body #bodyContentPref
		{
		position: relative;
	}
	#LeftNav {
		display: none;
	}
}

#htabs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 1px 0 0 7px;
	padding: 0px;
}

#htabs td.taboff {
	padding: 5px 0px 5px 7px;
}

#htabs td.tabon {
	padding: 5px 14px 5px 7px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgtabLFTmyebay.gif)
		no-repeat left top;
}

#htabs td.tabon a:link,#htabs td.tabon a:visited,#htabs td.tabon a:active
	{
	margin-right: 0px;
	padding: 5px 14px 5px 7px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgtab2RGTmyebay.gif)
		no-repeat right top;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

#htabs td a:link,#htabs td a:visited,#htabs td a:active {
	text-decoration: none;
	color: #000CCC;
}

#htabs td a:hover {
	text-decoration: underline;
}

#htabs td a.padright15 {
	padding-right: 15px;
}

#htabs td a.padLeft15 {
	padding-left: 15px;
}

#htabs td a.borderRight {
	border-right: 1px solid #666;
}

#htabs td a.myaccountoff {
	background-image:
		url(http://pics.ebaystatic.com/aw/pics/globalHeader/imgHdrDropDownIcon.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}

#htabs td a.myaccountoff2 {
	background-image:
		url(http://pics.ebaystatic.com/aw/pics/globalHeader/imgHdrDropDownIcon.gif);
	background-repeat: no-repeat;
	background-position: 78px 6px;
	padding-right: 15px;
}

#htabs td a.borderLeft {
	border-left: 1px solid #666;
}

.pageTab-pageLevelTabContainer {
	clear: both;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	width: auto;
	display: block;
}

.pageTab-pageLevelTabListContainer {
	width: 100%;
	background: #fff
		url(http://pics.ebaystatic.com/aw/pics/feedback2/imgTabBg.gif)
		repeat-x bottom;
	margin: 0px;
	padding: 0px;
}

#htabs {
	margin: 15px 0px 0px 0px;
	padding: 0px;
	width: auto;
}

.pageTab-pageLevels-l {
	float: left;
}

.pageTab-pageLevels-r {
	float: right;
}

#htabs td.pageTab-dummy {
	padding-left: 6px;
	cursor: default;
}

#htabs td.pageTab-cntrTabGp {
	width: 6px;
}

#htabs td {
	text-align: left;
	cursor: pointer;
	vertical-align: middle;
}

#htabs td.pageTab-inactiveLft {
	width: 5px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabLft_Off.gif)
		no-repeat top left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#htabs td.pageTab-inactiveRgt {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabRgt_Off.gif)
		no-repeat top right;
	padding: 7px 9px 5px 5px;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#htabs td td.pageTab-inactiveRgt {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabRgt_Off.gif)
		no-repeat top right;
	padding: 7px 9px 5px 5px;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#htabs td.pageTab-activeLft {
	width: 5px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabLft_On.gif)
		no-repeat top left;
}

#htabs td.pageTab-activeRgt {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabRgt_On.gif)
		no-repeat top right;
	padding: 9px 9px 3px 5px;
}

#htabs td.pageTab-highlightLft {
	width: 5px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgContentTabLftYellow2.gif)
		no-repeat top left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#htabs td.pageTab-highlightRgt {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgContentTabRgtYellow2.gif)
		no-repeat top right;
	padding: 7px 9px 5px 5px;
	border-color: #aaa;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#htabs td.pageTab-activeRgt a {
	cursor: default;
	font-size: medium;
	font-family: Arial;
	color: #333;
	text-decoration: none;
}

#htabs td.pageTab-inactiveRgt a:hover {
	cursor: pointer;
	font-size: medium;
	font-family: Arial;
	color: #5D5D5D;
	text-decoration: none;
}

#htabs td.pageTab-inactiveRgt a {
	font-size: medium;
	font-family: Arial;
	color: #5D5D5D;
	text-decoration: none;
}

#htabs td.pageTab-inactiveRgt a:visited {
	font-size: medium;
	font-family: Arial;
	color: #5D5D5D;
	text-decoration: none;
}

#htabs td.pageTab-inactiveRgt a:link {
	font-size: medium;
	font-family: Arial;
	color: #5D5D5D;
	text-decoration: none;
}

#htabs td.pageTab-highlightRgt a:hover {
	cursor: pointer;
	font-size: small;
	font-family: Arial;
	color: #333;
	text-decoration: none;
}

#htabs td.pageTab-highlightRgt a {
	font-size: small;
	font-family: Arial;
	color: #333;
	text-decoration: none;
}

#htabs td.pageTab-highlightRgt a:visited {
	font-size: small;
	font-family: Arial;
	color: #333;
	text-decoration: none;
}

#htabs td.pageTab-highlightRgt a:link {
	font-size: small;
	font-family: Arial;
	color: #333;
	text-decoration: none;
}

#htabs td.pageTab-hoverLft {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabLft_Hover.gif)
		no-repeat top left;
}

#htabs td.pageTab-hoverRgt {
	background:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgTabRgt_Hover.gif)
		no-repeat top right;
}

.pageTab-tabcontent_container {
	clear: both;
}

.pageTab-tabcontentOuterOff {
	padding: 4px 0px 2px 14px;
	display: none;
}

.pageTab-tabcontentOuterOn {
	padding: 4px 14px 2px 14px;
	display: block;
}

.pdm-col {
	float: left;
	list-style: none outside;
	display: inline;
	margin: 0;
	padding: 0;
	width: 100%;
}

.pdm-col-ex {
	width: 10px;
}

.pdm-item {
	display: inline;
	white-space: nowrap;
}

.pdm-item a {
	display: block;
	text-decoration: none;
	font-family: Verdana;
	font-size: x-small;
	padding: 5px 0 5px 5px;
	position: relative;
	overflow: hidden;
}

.pdm-item a:hover {
	background-color: #eee;
	text-decoration: underline;
}

.pdm-item a:visited {
	color: #00c;
}

.margin {
	margin-left: -5px;
}

.outdiv {
	BORDER-RIGHT: #ffdd66 1px solid;
	BORDER-TOP: #ffdd66 1px solid;
	MARGIN-TOP: 0px;
	BORDER-LEFT: #ffdd66 1px solid;
	WIDTH: 100%;
	BACKGROUND-COLOR: #faf5ce;
	TEXT-ALIGN: left;
}

.outdiv .rcp_n .rcp_e {
	DISPLAY: block;
	FONT-SIZE: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 0%;
	POSITION: relative;
	HEIGHT: 7px;
}

.outdiv .rcp_n .rcp_w {
	DISPLAY: block;
	FONT-SIZE: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 0%;
	POSITION: relative;
	HEIGHT: 7px;
}

.outdiv .rcp_n .rcp_e {
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURYellow.gif)
		no-repeat right top;
	TOP: -1px;
	RIGHT: -1px;
}

.outdiv .rcp_n .rcp_w {
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULYellow.gif)
		no-repeat left top;
	LEFT: -2px;
	WIDTH: 10px;
}

.outdiv .rcp_head {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0px;
	POSITION: relative;
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGYellowGrad1.gif)
		#faf5ce repeat-x 50% bottom;
}

.outdiv .rcp_mid {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
}

.headNavtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	white-space: nowrap;
	color: #666666;
	padding-bottom: 3px;
}

.greetingmessage {
	white-space: nowrap;
	padding-left: 10px;
	padding-bottom: 0;
	color: #333333;
}

td.aboveheadNav {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	padding-bottom: 6px;
}

.aboveheadNav a:active,.aboveheadNav a:link,.aboveheadNav a:visited {
	text-decoration: none;
	font-family: Verdana;
	font-size: 0.85em;
}

.aboveheadNav a:hover {
	text-decoration: underline;
}

table.aboveheadNav td {
	white-space: nowrap;
	vertical-align: middle;
}

table.aboveheadNav td.headng {
	font-weight: bold;
	font-size: 24px;
	white-space: nowrap;
	color: #666666;
	vertical-align: middle;
}

table.aboveheadNav td.greetingmessage {
	white-space: nowrap;
	padding-left: 5px;
	color: #333333;
	vertical-align: middle;
}

.classicmenu {
	BORDER-RIGHT: #666 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #666 1px solid;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #666 1px solid;
	LINE-HEIGHT: 1.2;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #666 1px solid;
	BACKGROUND-COLOR: #fff;
}

.classicmenu .rcp_n .rcp_e,.classicmenu .rcp_n .rcp_w,.classicmenu .rcp_s .rcp_e,.classicmenu .rcp_s .rcp_w
	{
	DISPLAY: block;
	FONT-SIZE: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 0%;
	POSITION: relative;
	HEIGHT: 2px;
}

.classicmenu .rcp_n .rcp_w {
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/motors2/images/imgCrnrA1.gif)
		#9ad0ff no-repeat left top;
	LEFT: -6px;
	TOP: 0px;
}

.classicmenu .rcp_n .rcp_e {
	RIGHT: -3px;
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/motors2/images/imgCrnrA2.gif)
		#9ad0ff no-repeat right top;
	TOP: -3px;
}

.classicmenu .rcp_s .rcp_e {
	RIGHT: -3px;
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/motors2/images/imgCrnrB3.gif)
		no-repeat right bottom;
	BOTTOM: -3px;
}

.classicmenu .rcp_s .rcp_w {
	BACKGROUND:
		url(http://pics.ebaystatic.com/aw/pics/motors2/images/imgCrnrB4.gif)
		no-repeat left bottom;
	LEFT: -6px;
	BOTTOM: 0px;
}

.menulisting ul,.menulisting ul.menulisting,ul.accountlisting {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menulisting li {
	margin: 0;
	list-style: none;
	font-family: Verdana;
	font-size: 10px;
}

.menulisting li a,.menulisting li a:visited,.menulisting li a:active {
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #00f;
	width: 165px;
	display: block;
	vertical-align: middle;
	font-family: Verdana;
	font-size: 10px;
}

.menulisting li a:hover {
	text-decoration: underline;
	color: #00f;
	background-color: #eee;
}

.accountlisting li {
	margin: 0;
	list-style: none;
	font-family: Verdana;
	font-size: 10px;
	white-space: nowrap;
}

.accountlisting li a,.accountlisting li a:visited,.accountlisting li a:active
	{
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #00f;
	width: 152px;
	display: block;
	vertical-align: middle;
}

.accountlisting li a:hover {
	text-decoration: underline;
	color: #00f;
	background-color: #eee;
}

ul.accountlistingde {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accountlistingde li {
	margin: 0;
	list-style: none;
	font-family: Verdana;
	font-size: 10px;
}

.accountlistingde li a,.accountlistingde li a:visited,.accountlistingde li a:active
	{
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #00f;
	width: 175px;
	display: block;
	vertical-align: middle;
}

.accountlistingde li a:hover {
	text-decoration: underline;
	color: #00f;
	background-color: #eee;
}

ul.accountlistingfr {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accountlistingfr li {
	margin: 0;
	list-style: none;
	font-family: Verdana;
	font-size: 10px;
}

.accountlistingfr li a,.accountlistingfr li a:visited,.accountlistingfr li a:active
	{
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #00f;
	width: 282px;
	display: block;
	vertical-align: middle;
}

.accountlistingfr li a:hover {
	text-decoration: underline;
	color: #00f;
	background-color: #eee;
}

ul.accountlistinges {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accountlistinges li {
	margin: 0;
	list-style: none;
	font-family: Verdana;
	font-size: 10px;
}

.accountlistinges li a,.accountlistinges li a:visited,.accountlistinges li a:active
	{
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	color: #00f;
	width: 180px;
	display: block;
	vertical-align: middle;
}

.accountlistinges li a:hover {
	text-decoration: underline;
	color: #00f;
	background-color: #eee;
}

#topheader_switchback_link {
	background-image:
		url(http://pics.ebaystatic.com/aw/pics/globalHeader/imgHdrDropDownIcon.gif);
	background-repeat: no-repeat;
	background-position: 163px 5px;
	padding-right: 10px;
}

.greetingtbl a,.greetingtbl a:active,.greetingtbl a:visited {
	color: #000ccc;
	font-size: x-small;
	text-decoration: none;
}

.greetingtbl a:hover {
	text-decoration: underline;
}

.greetingtbl .mbg a,.greetingtbl .mbg a:active,.greetingtbl .mbg a:visited
	{
	color: #666;
	font-size: small;
}

.greetingtbl .myebaytitle {
	font-size: x-large;
	color: #666;
	padding: 15px 15px 15px 15px;
}

.menutitle {
	font-weight: bold;
	font-family: Verdana;
	font-size: 10px;
}

a.noul:active,a.noul:link {
	color: #3D3DB3;
	text-decoration: none;
}

a.noul:visited {
	color: #953597;
	text-decoration: none;
}

a.noul:hover {
	text-decoration: underline;
}

a.jssubmit,.b3 {
	text-decoration: none;
}

.idtleft {
	padding-left: 10px;
}

.itemlist_container {
	border: 1px solid #9999CC;
	background-color: #F2F2FF;
	position: relative;
}

.itemlist_container .n .e,.itemlist_container .n .w,.itemlist_container .s .e,.itemlist_container .s .w
	{
	display: block;
	font-size: 0;
	line-height: 0%;
	height: 10px;
	position: relative;
	margin: 0;
}

.itemlist_container .n .e {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/corner/cornerBgBox2TopRight.gif)
		no-repeat top right;
	top: -1px;
	right: -1px;
}

.itemlist_container .n .w {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/corner/cornerBgBox2TopLeft.gif)
		no-repeat top left;
	width: 10px;
	left: -2px;
}

.itemlist_container .s {
	clear: both;
	position: relative;
}

.itemlist_container .s .e {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/corner/cornerBgBox2BotRight.gif)
		no-repeat top right;
	bottom: -1px;
	right: -1px;
}

html>body .itemlist_container .s .e {
	bottom: 3px;
}

.itemlist_container .s .w {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/corner/cornerBgBox2BotLeft.gif)
		no-repeat top left;
	width: 10px;
	left: -2px;
}

.itemlist {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff
		url(http://pics.ebaystatic.com/aw/pics/express/images/imgTableRptgBkg.gif)
		repeat-x scroll top;
}

html>body .itemlist div.carttbl {
	padding: 0 10px;
}

.itemlist table.carttbl {
	border-collapse: collapse;
}

.itemlist td {
	margin: 5px 0;
	vertical-align: top;
}

.itemlist .carttbl td.fc {
	padding: 0 10px 0 0;
	vertical-align: top;
}

.itemlist .carttbl td {
	padding: 0 10px 5px 10px;
	vertical-align: top;
}

.itemlist .carttbl td.lc {
	padding: 0 0 5px 10px;
	vertical-align: top;
}

.itemlist td td,.itemlist .carttbl td td {
	margin: 0;
	padding: 0;
}

.itemlist .separator td {
	border-bottom: 1px dashed #C6C6E0;
	position: relative;
}

.itemlist .separator td td {
	border: 0;
}

.itemlist thead .titlerow {
	background: #F2F2FF;
	padding: 3px 10px 3px 10px;
	border-right: 1px solid #C6C6E0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	voice-family: "\"}\"";
	voice-family: inherit;
}

.titlemid {
	background: #F2F2FF;
	padding: 3px 10px 3px 10px;
	border-right: 1px solid #C6C6E0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.titlefc {
	background: #F2F2FF;
	padding: 3px 10px 3px 10px;
	border-right: 1px solid #C6C6E0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.titlelc {
	background: #F2F2FF;
	padding: 3px 0px 3px 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.itemlist thead .fc {
	padding: 3px 10px 3px 0;
}

.itemlist thead .lc {
	padding: 3px 0 3px 10px;
	border: 0;
}

.itemlist .titlerowbtm {
	line-height: 10%;
	font-size: 0px;
	background: #F2F2FF;
}

.itemlist .bufferrow td {
	height: 10px;
	font-size: 0px;
	padding: 0;
}

.itemlist .footerbufferrow td {
	height: 5px;
	font-size: 0px;
	padding: 0;
}

.footerrow {
	background-color: #F2F2FF;
}

.footerrow td {
	margin: 0;
	padding: 5px 10px;
}

}
.itemlist .sellerinfo td {
	border-bottom: 1px solid #C6C6E0;
	position: relative;
	padding: 5px 0;
}

.itemlist .cartPrice {
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
}

.itemlist .cartSubtotal,.itemlist .cartSubtotalPrice {
	font-size: small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: medium;
	white-space: nowrap;
	text-align: right;
}

.itemlist .cartSubtotal {
	background: #F2F2FF;
	color: #000000;
}

.itemlist .cartSubtotalPrice {
	color: #9E1818;
}

.itemlist .ebxSubTotal {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.itemlist .ebxSubTotalPrice {
	font-family: Arial;
	font-size: medium;
	white-space: nowrap;
	font-weight: bold;
}

.ebxFooterRow {
	background-color: #F2F2FF;
}

.ebxFooterRowTD {
	padding: 0px 10px;
}

.ebxItemPic {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 64px;
	height: 64px;
	border: 1px solid #C6C6E0;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

.itemlist .carttbl input {
	margin: 0;
	padding: 0;
}

.carttbl {
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 95%;
	padding-left: 10px;
}

.itemlist .carttbl .inpRdo input {
	float: left;
	margin-top: 2px;
}

.itemlist .carttbl .inpRdo .inpCap {
	margin-left: 20px;
	display: block;
}

.cartListItemPic {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 110px;
	height: 110px;
	border: 1px solid #C6C6E0;
	margin: 0;
}

.cartListItemPic * {
	vertical-align: middle;
}

.priButton .b1,.priButton .b2,.priButton .b3 {
	color: #ffffff;
	padding: 10px 0;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	line-height: 29px;
	font-weight: bold;
	font-size: small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: medium;
}

.priButton .b1 {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1left.gif)
		no-repeat left center;
}

.priButton .b2 {
	margin-left: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1Right.gif)
		no-repeat right center;
}

.priButton .b3 {
	margin-right: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1Bkgd.gif)
		repeat-x center;
}

.priButtonDisabled .b1,.priButtonDisabled .b2,.priButtonDisabled .b3 {
	color: #999999;
	padding: 10px 0;
	white-space: nowrap;
	text-decoration: none;
	line-height: 29px;
	font-weight: bold;
	font-size: small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: medium;
}

.priButtonDisabled .b1 {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1aleft.gif)
		no-repeat left center;
}

.priButtonDisabled .b2 {
	margin-left: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1aRight.gif)
		no-repeat right center;
}

.priButtonDisabled .b3 {
	margin-right: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn1aBkgd.gif)
		repeat-x center;
}

.secButton .b1,.secButton .b2,.secButton .b3 {
	color: #000000;
	padding: 10px 0;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	line-height: 29px;
}

.secButton .b1 {
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn2left.gif)
		no-repeat left center;
}

.secButton .b2 {
	margin-left: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn2Right.gif)
		no-repeat right center;
}

.secButton .b3 {
	margin-right: 35px;
	background:
		url(http://pics.ebaystatic.com/aw/pics/express/button/btn2Bkgd.jpg)
		repeat-x center;
}

#myEbayBody select,#myEbayBody input,#myEbayBody option {
	font-size: small;
}

.A1,.A1 td,.A1B,.V1,.V1 td,.V1B,.V1333,.V1Gray,.CHa,.CHi {
	font-size: x-small;
}

.A2,.A2B,.A2B666,.V2,.V2B {
	font-size: small;
}

.A3,.A3B,.V3,.V3B {
	font-size: medium;
}

.A4,.A4B,.V4,.V4B {
	font-size: large;
}

.A5,.A5B,.V5,.V5B {
	font-size: x-large;
}

.A6,.A6B,.V6,.V6B {
	font-size: xx-large;
}

.SCOBlobTable TD {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.NewActionBaseTable {
	border: #7F9DB9 1px solid;
}

.NewActionBaseTable TD {
	border: none;
	font-size: 12px;
}

.myactions {
	border-right: #7F9DB9 1px solid;
	border-top: #7F9DB9 1px solid;
	display: none;
	border-left: #7F9DB9 1px solid;
	width: 150px;
	border-bottom: #7F9DB9 1px solid;
	position: absolute;
	background-color: white;
}

.favSelect {
	width: 100%;
}

.favNavHeader {
	margin: 0;
	padding: 0 5px 0 0;
	background-color: #CECEFF;
	border: 1px solid #A9A9F7;
}

.favNavHeaderBuy {
	margin: 0;
	padding: 0 5px 0 0;
	background-color: #E2E3FF;
	border-top: 1px solid #A9A9F7;
	border-right: 1px solid #A9A9F7;
	border-left: 1px solid #A9A9F7;
}

.favNavContent {
	margin: 0;
	padding: 5px;
	background-color: #FFF;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #A9A9F7;
}

.favCenter {
	padding: 0 16px 0 16px;
}

.h_Buyer,.h_BuyerEmail,.h_SMBuyer,.h_BuyerEmailAddress,.h_BuyerZip,.h_HighBidder,.h_ItemID,.h_OfferStatus,.h_RecordNumber,.h_Seller,.h_EscrowID,.h_SMEscrowStatus,.h_FolderComment,.h_LastModifiedDate,.h_StartTime
	{
	text-align: left;
}

.h_CurrentPrice,.h_HighBid,.h_MyMaxBid,.h_MyOffer,.h_ReservePrice,.h_SalePrice,.h_ShippingCost,.h_StartPrice,.h_TimeLeft,.h_EndTime,.h_EscrowReleaseAmount,.h_TotalPrice
	{
	text-align: right;
}

.h_Title,.h_LineID,.h_SearchName,.h_SearchCriteria,.h_Sellers,.h_FavoriteCategory,.h_SellerEmailAddress,.h_SimpleBuyer,.h_Subject,.h_From,.h_BuyerFullName,.h_ManageFolderName
	{
	text-align: left;
}

.c_Buyer,.c_BuyerEmail,.c_SMBuyer,.c_BuyerEmailAddress,.c_BuyerZip,.c_HighBidder,.c_ItemID,.c_OfferStatus,.c_RecordNumber,.c_Seller,.c_StartTime,.c_EscrowID,.c_SMEscrowStatus,.c_Title
	{
	text-align: left;
}

.c_CurrentPrice,.c_HighBid,.c_MyMaxBid,.c_MyOffer,.c_ReservePrice,.c_SalePrice,.c_ShippingCost,.c_StartPrice,.c_TimeLeft,.c_TotalPrice,.c_EscrowReleaseAmount
	{
	text-align: right;
}

.c_PreviewEmail {
	font-family: "Courier New", Courier, monospace;
}

.content {
	position: absolute;
	padding: 0 10px;
	height: 100%;
	top: 0px;
	left: 0px;
}

.FontA {
	font-family: Arial, sans-serif;
}

/* b=15854962 */