.coreFooterLinks a:active,.coreFooterLinks a:focus,.coreFooterLinks a:hover,.coreFooterLinks a:link
	{
	font-family: Verdana;
	font-size: x-small;
	color: #00c;
	display: inline-block
}

.gh-nav a:active,.gh-nav a:focus,.gh-nav a:hover,.gh-nav a:link {
	font-family: Arial;
	font-size: small;
	color: #333
}

.coreFooterLinks a:visited {
	font-family: Verdana;
	font-size: x-small
}

.coreFooterLegalNotice {
	font-family: Verdana;
	font-size: x-small;
	color: #666
}

.footerBG {
	padding: 1px 0 5px 0
}

.footerBGPost {
	padding: 1px 0 5px 0
}

.footerBG img,.footerBGPost img {
	margin-right: 6px
}

.footerBG .bgLinkTD,.footerBGPost .bgLinkTD {
	white-space: nowrap
}

.gh-vs {
	border: 1px solid #666;
	width: 340px;
	background-color: #efefef
}

.gh-vs .gh-cw {
	padding: 10px 0
}

.gh-vs .gh-cbtn {
	background-image:
		url(http://p.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: transparent;
	cursor: pointer;
	display: inline;
	float: right;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 10px;
	right: 5px;
	padding: 0
}

.gh-vs .gh-ttl {
	color: #333;
	font-weight: bold;
	font-size: medium;
	padding: 0 15px
}

.gh-vs .gh-ct {
	clear: both;
	padding: 10px 15px 0
}

.gh-hdn {
	font-size: 0;
	height: 0;
	margin-top: 10px;
	overflow: hidden;
	width: 0;
	visibility: hidden
}

.gh-fol {
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	margin-top: -85px;
	padding: 10px;
	width: 250px;
	z-index: 10000;
	display: none
}

.gh-fol div {
	float: left;
	width: 234px
}

.gh-fol-a {
	float: left
}

.gh-fol a b {
	background: transparent
		url(http://p.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif)
		no-repeat;
	width: 16px;
	height: 16px;
	display: block
}

.gh-ovr {
	position: absolute;
	left: -1000px;
	z-index: 10000
}

.gh-iovr {
	float: left;
	position: relative;
	background-color: #fff;
	border: 1px solid #ccc
}

.gh-ext {
	font-size: 0;
	margin-top: -1px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border-top: 1px solid #fff
}

.ebayfooter {
	font-family: Verdana;
	font-size: x-small;
	color: #666
}

.btb-w {
	padding: 5px 8px 0 15px;
	border-bottom: 1px solid #999
}

.btb-w li {
	list-style: none;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 6px;
	padding-right: 1px
}

.btb-w ul {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	white-space: nowrap
}

.btb a {
	background: #fff;
	display: inline-block;
	padding: 6px 10px 7px 10px;
	border: solid #bbb;
	border-width: 1px 1px 0;
	text-decoration: none;
	color: #333;
	vertical-align: bottom;
	outline-width: 1px;
	font: normal 1em trebuchet MS, trebuchet
}

.btb a:hover {
	color: #002398
}

.btb-gr a {
	background: #eee repeat-x 0 0;
	border-color: #aaa
}

.btb-gr a:hover {
	background-color: #ddd;
	background-position: 0 -231px
}

.btb .btb-act a,.btb .btb-act a:hover {
	background: #fff;
	color: #333;
	padding: 7px 10px 7px;
	cursor: default;
	margin-bottom: -1px;
	border-color: #999;
	font-weight: bold
}

.btb-gr a,.btb-gr li {
	background-image:
		url(http://p.ebaystatic.com/aw/pics/cmp/ds2/sprTabs.png)
}

.btb-cntOff {
	position: relative;
	height: 0;
	overflow: hidden;
	visibility: hidden
}

.btb-cntOn {
	height: 100%;
	overflow: visible;
	visibility: visible
}

.btb-cw {
	padding: 12px 13px
}

.btb-br {
	border: solid #999;
	border-width: 0 1px 1px
}

b.btb-icn {
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin: 3px 6px 0 0
}

.btb-clr {
	clear: both
}

.btb-w .btb-md li {
	margin-right: 4px
}

.btb-md a {
	padding: 4px 10px
}

.btb-md .btb-act a,.btb-md .btb-act a:hover {
	padding: 5px 10px 4px
}

.btb-w .btb-s li {
	margin-right: 3px
}

.btb-s a {
	padding: 4px 10px 3px 10px;
	font: normal .846em arial
}

.btb-s .btb-act a,.btb-s .btb-act a:hover {
	padding: 5px 10px 3px
}

.btb-gr li {
	background-position: 100% -1475px;
	background-repeat: no-repeat
}

.btb-gr li.btb-act {
	background-position: 100% -1064px
}

.btb-ab {
	padding: 8px 0 8px 10px;
	border-bottom: 1px solid #bbb
}

.btb-rs,.btb-ls {
	padding-top: 10px
}

.btb-mdc .btb-rs {
	padding-top: 7px
}

.btb-sc .btb-rs {
	padding-top: 4px
}

.btb-rs {
	padding-left: 15px
}

.btb-rsc {
	padding-right: 0
}

.btb-gb {
	background: #eee;
	border-top: 1px solid #ccc
}

.btb-gb .btb-rs {
	padding-right: 15px
}

.btb-abg {
	padding: 8px 15px 11px
}

.btb-fc {
	padding: 10px 15px 15px
}

.btb-fc .btb-cw {
	background: #fff
}

.btb-ls {
	float: left
}

ul.btb-pr,.btb-rs {
	float: right
}

.btb-mdc {
	padding-right: 10px
}

.btb-sc {
	padding-right: 11px
}

.tb-tw {
	height: 100%;
	padding: 0 14px 0 9px
}

.tb {
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	margin-top: 5px
}

a.tb-a,a.tb-a:hover {
	display: inline-block;
	background-color: #fff;
	text-decoration: none;
	height: 100%;
	border: solid #bbb;
	color: #333;
	border-width: 1px 1px 0;
	margin: 0 0 -200px;
	padding: 3px 0 200px;
	outline-width: 1px
}

a.tb-a:hover {
	color: #002398
}

.tb-tw,.tb td {
	border-bottom: 1px solid #999
}

.tb td {
	vertical-align: top;
	overflow: hidden;
	padding: 0 1px 0 6px
}

.tb-gr .tb-a {
	background: #e7e7e7 repeat-x 0 0;
	border-color: #aaa
}

.tb-gr a.tb-a:hover {
	background-color: #e7e7e7;
	background-position: 0 -231px;
	border-color: #aaa
}

.tb-gr td {
	background-position: 100% -1475px;
	background-repeat: no-repeat
}

.tb-gr .tb-act {
	background-position: 100% -1064px
}

.tb .tb-act {
	border: none
}

.tb-gr .tb-a,.tb-gr td,.tb-gr .tb-act {
	background-image:
		url(http://p.ebaystatic.com/aw/pics/cmp/ds2/sprTabs.png)
}

.tb a.tb-d:hover {
	background-color: #cecbce;
	background-position: 0 0;
	cursor: default
}

.tb .tb-act a,.tb .tb-act a:hover {
	background: #fff;
	cursor: default;
	color: #666;
	border-color: #999
}

.tb .tb-txt {
	font: normal 1em trebuchet, trebuchet MS;
	line-height: 13px;
	display: block;
	padding: 5px 10px 10px
}

.tb .tb-act .tb-txt {
	padding-top: 6px;
	color: #333;
	font-weight: bold
}

.tb-cw {
	padding: 12px 13px
}

.tb-br {
	border: solid #999;
	border-width: 0 1px 1px
}

b.tb-icn {
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin: 3px 6px 0 0
}

.tb-cntOff {
	position: relative;
	height: 0;
	overflow: hidden;
	visibility: hidden
}

.tb-cntOn {
	height: 100%;
	overflow: visible;
	visibility: visible
}

.tb-md .tb .tb-txt {
	padding: 4px 10px 6px
}

.tb-md .tb .tb-act .tb-txt {
	padding-top: 5px
}

.tb-md {
	padding-left: 11px
}

.tb-md .tb td {
	padding: 0 1px 0 4px
}

.tb-s .tb .tb-txt {
	padding: 2px 10px 3px;
	font-size: .846em;
	font-family: arial
}

.tb-s .tb .tb-act .tb-txt {
	padding-top: 3px
}

.tb-s {
	padding-left: 12px
}

.tb-s .tb td {
	padding: 0 1px 0 3px
}

.bn-w,.bn-b,.bn-b input,.bn-b b,.bn-b a {
	display: inline-block;
	font: bold small Trebuchet, "Trebuchet MS" !important;
	background: url(http://p.ebaystatic.com/aw/pics/cmp/ds2/sprButtons.png)
		no-repeat -450px 0;
	outline: none
}

.bn-w {
	text-align: left;
	padding-left: 3px
}

.bn-pad {
	padding: 0 8px 0 11px
}

.bn-b {
	vertical-align: middle;
	z-index: 2;
	padding: 0 3px 0 0
}

.bn-b input,.bn-b b,.bn-b a {
	border: 0;
	color: #fff;
	font: bold 1.154em Trebuchet, "Trebuchet MS" !important;
	cursor: pointer;
	white-space: nowrap;
	margin: 0 -3px;
	padding: 1px 11px 4px
}

.bn-b b,.bn-b a {
	padding: 6px 14px 7px;
	line-height: 20px !important
}

.bn-w i {
	background: #3c58c5;
	border: 2px outset;
	color: #3c58c5;
	position: absolute;
	white-space: nowrap;
	margin: 2px 0 2px;
	padding: 3px 6px;
	font: normal bold 1.077em Trebuchet, "Trebuchet MS" !important
}

.bn-m {
	margin: 8px 0
}

.bn-w,.bn-b,.bn-b b,.bn-b a {
	position: relative !important
}

.bn-b a,.bn-b a:hover,.bn-b a:visited,.bn-b a:active {
	text-decoration: none;
	color: #fff !important
}

.bn-h,.bn-b b {
	display: none
}

.psb-S,.psb-S input {
	height: 24px
}

.psb-S input {
	padding: 1px 6px 4px 7px
}

.psb-S b,.psb-S a {
	padding: 3px 9px 3px 10px;
	line-height: 18px !important
}

.psb-b {
	background-position: 100% -378px
}

.psb-S input,.psb-S a {
	background-position: 0 -344px;
	font-size: 1em !important
}

.psb-bo {
	background-position: 100% -446px
}

.psb-bo input,.psb-bo a {
	background-position: 0 -412px
}

.psb-bp {
	background-position: 100% -514px
}

.psb-bp input,.psb-bp a {
	background-position: 0 -480px;
	padding: 2px 5px 3px 8px
}

.psb-bp a {
	padding: 4px 8px 2px 11px
}

.psb-bd {
	background-position: 100% -582px;
	cursor: default
}

.psb-bd input,.psb-bd b,.psb-bd a {
	background-position: 0 -548px;
	cursor: default;
	color: #f5f5f5 !important;
	font-size: 1em !important
}

.psb-S i {
	padding: 0 2px;
	font-size: .923em !important
}

.link {
	text-decoration: none;
	padding-right: 7px;
	padding-left: 7px
}

.link1 {
	text-decoration: none;
	position: relative;
	padding-right: 7px
}

.listDivStyle {
	border: solid #9cbaf7;
	border-width: 1px
}

.borStyStr {
	margin: 5px 0 5px 0
}

.main {
	margin-top: 12px
}

.h27Right {
	background-color: #f7f7ff;
	height: 27;
	float: right;
	width: 180
}

.h27RightToatl {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9cbaf7;
	height: 27;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9cbaf7
}

.memberBadgeCellStyleAs {
	width: 170
}

.memberBadge {
	font-weight: bold;
	background-color: #f7f7ff;
	height: 27;
	width: 150;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9cbaf7;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9cbaf7
}

.corner_bot {
	background-image: xxx;
	background-repeat: no-repeat;
	width: 20;
	height: 27;
	float: left
}

.corner_bot {
	background-image:
		url(http://q.ebaystatic.com/aw/pics/spark/corner_bot.gif);
	background-repeat: no-repeat;
	width: 20;
	height: 27;
	float: right
}

.styred {
	background-color: red;
	height: 7px
}

.sty {
	background-color: blue;
	height: 5px
}

.summaryDiv {
	height: 80;
	width: 100%;
	margin: 7px 12px 7px 12px;
	border-bottom: 1px dotted #9cbaf7
}

.noItemSummaryDiv {
	height: 84;
	width: 100%;
	margin: 7px 12px 7px 12px;
	background-color: #fff3f3;
	border: 1px solid #ff3838
}

.floatLeft {
	float: left
}

.imageTdStyle {
	float: left;
	border: 1px solid #b2b2b2;
	height: 80px;
	width: 80px
}

.floatRight {
	float: right
}

.hieght15 {
	height: 15
}

.hieght20 {
	height: 20px
}

.qtyTdStyle {
	float: right;
	width: 10%;
	text-align: center
}

.textAlignCenter {
	text-align: center
}

.subTotStyle {
	float: right;
	width: 125;
	text-align: right
}

.bucket-total {
	width: 206px;
	float: right;
	padding: 5px 3px 5px 12px;
	height: 17px;
	text-align: right;
	font-weight: bold;
	border-right: 1px solid #8faff6;
	border-bottom: 1px solid #8faff6;
	background-color: #f4f7ff
}

.bucket-total-div {
	margin-left: 620px;
	position: absolute;
	padding-right: 10px
}

* html .bucket-total-div {
	margin-left: 0;
	position: absolute;
	padding-right: 20px
}

*+html .bucket-total-div {
	margin-left: 0;
	position: absolute;
	padding-right: 20px
}

.bucket-itemList {
	height: auto;
	border-top: 1px solid #87a9f5;
	border-right: 1px solid #87a9f5;
	border-left: 1px solid #87a9f5;
	width: 100%
}

.bucket-itemList-border {
	border: 1px solid #87a9f5;
	height: auto;
	margin-top: 0;
	padding: 0 12px;
	width: auto
}

.tbl1tbcol1 {
	width: 71%;
	float: left
}

.bucket-subtotalHeading {
	float: left;
	width: 87%;
	text-align: right;
	font-weight: bold
}

.bucket-subtotalMainDiv {
	padding: 10px 12px 0 0
}

.bucket-subtotalMoneyDiv {
	float: right;
	width: 11.6%
}

.tbl1tb {
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #87a9f5;
	border-right-color: #87a9f5;
	border-bottom-color: #87a9f5;
	border-left-color: #87a9f5;
	white-space: nowrap;
	background-color: #f4f7ff;
	float: left;
	padding: 2px 0 0 9px;
	height: 25px
}

.tbl1tbcrv {
	background-image: xxx;
	background-repeat: no-repeat;
	background-position: right top;
	height: 28px;
	width: 19px;
	float: left
}

.botcrv {
	background-image:
		url(http://q.ebaystatic.com/aw/pics/spark/corner_bot.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 28px;
	width: 19px;
	float: right
}

.totcrv {
	border-bottom-width: 1px;
	border-left-width: 0;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-color: #87a9f5;
	border-left-color: #87a9f5;
	border-top-color: #87a9f5;
	border-right-color: #87a9f5;
	float: right;
	padding: 6px 0 5px 9px;
	width: 180
}

.tbl1tbcont {
	height: 28px;
	margin: 9px 24px 0 0
}

.tbl1tbcol2 {
	width: 8%;
	float: left;
	font-weight: bold;
	padding: 6px 0 6px 0;
	text-align: center
}

.tbl1tbcol3 {
	width: 11%;
	float: left;
	font-weight: bold;
	padding: 6px 0 6px 0;
	text-align: right
}

.tbl1totalrowcont {
	border-left: 1px solid #87a9f5;
	border-right: 1px solid #87a9f5;
	border-bottom: 1px solid #87a9f5;
	height: 26px;
	padding: 0 18px 0 9px;
	background-color: #f4f7ff
}

.tbl1totalcol1 {
	width: 80%;
	float: left;
	padding: 4px 0 2px 0
}

.tbl1totalcol2 {
	width: 20%;
	float: left;
	font-weight: bold;
	padding: 4px 0 2px 0;
	text-align: right
}

.pricecol {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 6px 0 6px 0;
	text-align: center
}

.tbl1tbcouponcol3 {
	width: 13%;
	float: left;
	font-weight: bold;
	padding: 6px 0 6px 0;
	text-align: right
}

.tbl1totalrowcouponcont {
	border-left: 1px solid #87a9f5;
	border-right: 1px solid #87a9f5;
	border-bottom: 1px solid #87a9f5;
	height: 26px;
	padding: 0 8px 9px 9px;
	background-color: #f4f7ff
}

.tbl1totalrowcouponcont1 {
	border-left: 1px solid #87a9f5;
	border-right: 1px solid #87a9f5;
	height: 26px;
	padding: 0 8px 0 9px;
	background-color: #f4f7ff
}

.tbl1totalcouponcol1 {
	width: 75.5%;
	float: left;
	padding: 9px 0 0 0
}

.tbl1totalcouponcol6 {
	width: 2%;
	float: left;
	padding: 9px 9px 0 0
}

.tbl1totalcouponcol7 {
	width: 78.5%;
	float: left;
	padding: 9px 0 0 0
}

.tbl1totalcouponcol2 {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 9px 0 0 0;
	text-align: right
}

.tbl1totalcouponcol3 {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 9px 0 0 9px;
	text-align: right
}

.tbl1totalcouponcol4 {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 9px 0 0 0;
	text-align: right;
	text-decoration: line-through
}

.tbl1totalcouponcol5 {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 9px 0 0 9px;
	text-align: right;
	color: #6db31e
}

.tbl1tbcouponcol2 {
	width: 10%;
	float: left;
	font-weight: bold;
	padding: 6px 0 6px 0;
	text-align: center
}

.tbl1tbcouponcont {
	width: 88.4%;
	height: 28px;
	margin: 9px 24px 0 0
}

.tbl1tbcouponconfirmcont {
	width: 91%;
	height: 28px;
	margin: 9px 24px 0 0
}

.totalDivMain {
	float: right;
	font-weight: bold;
	height: 17px;
	text-align: right;
	width: 206px
}

*+html .totalDivMain {
	float: right;
	font-weight: bold;
	height: 17px;
	text-align: right;
	width: 206px
}

* html .totalDivMain {
	float: right;
	font-weight: bold;
	height: 17px;
	text-align: right;
	width: 206px
}